<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flink.common.mybatis.mapper.OperationMapper">

    <insert id="insertOperation" parameterType="Operation">
       insert into user_operation(app_id, room_id,	user_id, status_type, time, opertion_type)
        values (#{appId}, #{roomId}, #{userId}, #{statusType}, #{time}, #{opertionType})
    </insert>

</mapper>


